* {
	margin: 0;
	padding: 0;
}

*, *:after, *:before {
	box-sizing: border-box;
}

html, input, textarea {
	font: 100%/1.5em Helvetica, Arial, sans-serif;
}

body {
	margin: 7% auto;
	width: 600px;
}
	h1 {
		background: #444;
		border-radius: 3px;
		color: white;
		padding: 2%;
		text-align: center;
		text-transform: uppercase;
	}
	form {
		background: #f0f0f0;
		border: 1px #ccc solid;
		border-radius: 3px;
		margin-top: 5%;
		padding: 5%;
	}
		form div.photos {
			margin: 2% -19px 0 0;
			overflow: hidden;
		}
			form div.photos > div {
				border-radius: 3px;
				float: left;
				height: 90px;
				margin: 19px 19px 0 0;
				width: 120px;
			}
			form div.photos > div.uploading {
				border: 1px #ccc solid;
			}
			form div.photos > div.uploaded {
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
				form div.photos > div.uploading span.progress {
					background: white;
					border-radius: 2px;
					display: block;
					height: 10px;
					margin: 40px 5px;
					overflow: hidden;
				}
					form div.photos > div.uploading span.progress span {
						background: #999;
						display: block;
						height: 100%;
					}