*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, input, textarea {
	font: 100%/1.5em Helvetica, Arial, sans-serif;
}

form {
	margin: 5% auto 0;
	text-align: center;
	width: 50%;
}
	form input {
		background: rgb(236, 240, 241);
		border-radius: 3px;
		padding: 1em;
	}

table {
	background: rgb(245, 245, 245);
	border-collapse: collapse;
	margin: 5% auto;
	text-align: center;
	width: 90%;
}
	table thead {
		background: rgb(235, 235, 235);
	}
		table tbody tr:nth-child(even) {
			background: rgb(250, 250, 250);
		}
		table thead th, table tbody tr td {
			padding: 0.5em 1em;
		}
